.actionBar {
    background-image: url('/action-bar/action-bar-bg.svg'); // Add your background image here
    background-size: cover;
    background-position: center;
    height: 79px; // Adjust height as needed
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttonContainer {
    display: flex;
    gap: 1rem; // Space between the buttons
  }

  .button{
    width: 114px;
    height: 49px;
    border-radius: 0px!important;
    border: 0.5px solid #0796EF;
    color: #FFFFFF;
    background-color:#000000;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 600;

    &:hover{
        background-color: #0796EF!important;
        color: #FFFFFF!important;
    }
  }
  
  